{% extends 'base.html.twig' %}

{% block body %}

<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <div class="box">
            <div class="field has-text-centered">
                <h1 class="title">Login</h1>
            </div>

            {% if error %}
                <article class="message is-danger">
                    <div class="message-body">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                </article>
            {% endif %}

            <form action="{{ path('login') }}" method="post">
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-medium" type="text" placeholder="Username" value="{{ last_username }}" name="_username">
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-medium" type="text" placeholder="Password" value="{{ last_username }}" name="_password">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>

                {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
                #}

                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                    <button class="button is-link is-large">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
