@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../../node_modules/bulma/bulma";
@import '../vendor/bulma-calendar/calendar';
@import "../../node_modules/selectize/dist/css/selectize";

// Uncomment if I end up needing some styles from instantsearch.js
//@import "../../node_modules/instantsearch.js/dist/instantsearch.css";

.selectize-control {
  &.is-danger {
    > .selectize-input {
      border-color: $danger;
    }
  }
}

.search-result-hit {
  color: $danger;
  font-style: italic;
  font-weight: bold;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  flex: 1 0 auto;
}

.footer {
  padding: 1.5em;
}
