{% extends 'base.html.twig' %}

{% block body %}
<nav class="level">
    <div class="level-left">
        <div class="level-item">
            <div class="field has-addons">
                <div class="control">
                    <input
                            class="input"
                            type="text"
                            placeholder="Search for a book or author"
                            id="search-box"
                            data-user-id="{{ app.user.id }}"
                    >
                </div>
                <div class="control">
                    <a class="button is-info">
                        Search
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <img src="https://www.algolia.com/static_assets/images/press/downloads/search-by-algolia.png" />
        </div>
    </div>
</nav>
<main id="hits">
    <div id="pagination"></div>
</main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/search.js') }}"></script>
{% endblock %}
