{% extends 'base.html.twig' %}

{% block crumbs %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ path('books') }}">Books</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    {% include 'book/partial/table.html.twig' %}
{% endblock %}
